<div class="row">
    <div class=" col-sm-2 col-md-3">
        <ul class="side-var">
            <li ng-repeat="category in categories" class="left-menu"><h5><a href="#"><b>{{category.categoryName}}</b></a></h5></li>
        </ul>
        <select  class="form-control drop-var" ng-change="getProducts()" name="categoryName" ng-model="category.categoryName" ng-options="category.id as category.categoryName for category in categories track by category.id"></select>
    </div>
    <div class="  col-sm-8 col-md-6">
        <div class="jumbotron">
            <form role="form" ng-submit="search(q)">
                <input ng-change="type(q)"type="text" class="form-control" name="q" ng-model="q" placeholder="Search by Software's Name, Category, Feature ...">
                    <center><span style="color:green;" ng-if="foundSug"><b>{{types.length}} Applications found !</b></span></center>
            </form>
        </div>
        <div id="query_view">
            <ul>
                <li ng-repeat="product in products | orderBy:'productTitle'">
                    <div id="product_desc">
                        <h4>{{product.productTitle}}</h4>
                        <h5>by <a href="#">{{product.companyInformation.companyName}}</a></h5>
                        <p>{{product.productDescription}}</p>
                        <button class="btn btn-primary"  ui-sref="product.view({id:product.id})">View Profile</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class=" col-sm-2 col-md-3">
    </div>
</div>
