<div class="row">
    <div class=" col-md-2">
        <ul class="side-var">
            <li ng-repeat="category in categories" class="left-menu"><a href="#hlw">{{category.categoryName}}</a></li>
        </ul>
    </div>
    <div class=" col-md-8">
        <div class="jumbotron">
            <form role="form" ng-submit="search(q)">
                <input type="text" class="form-control" name="q" ng-model="q" placeholder="Search by Software's Name, Category, Feature ...">
            </form>
        </div>
        <div id="query_view"></div>

    </div>
    <div class="col-md-2">
    </div>
</div>



<!--<div class="row">-->
    <!--<div class="col-sm-4">-->
        <!-- -->
    <!--</div>-->
    <!--<div class="col-sm-4">-->

    <!--</div>-->
    <!--<div class="col-sm-4"></div>-->
<!--</div>-->
