<div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8 jumbotron">
    <div class="form-group col-md-6">
        <label class="control-label" for="field_productTitle">Product Title</label>
        <input type="text" class="form-control" name="productTitle" id="field_productTitle"
               ng-model="product.productTitle"
            />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_productDescription">Product Description</label>
        <input type="text" class="form-control" name="productDescription" id="field_productDescription"
               ng-model="product.productDescription"
            />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_productType">Product Type</label>
        <select class="form-control" name="productType" ng-model="product.productType" id="field_productType">
            <option value="Web">Web</option>
            <option value="Mobile">Mobile</option>
            <option value="Desktop">Desktop</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_Currency">Currency</label>
        <select class="form-control" name="Currency" ng-model="product.currency" id="field_Currency">
            <option value="USD">USD</option>
            <option value="BDT">BDT</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_price">Price</label>
        <input type="number" class="form-control" name="price" id="field_price"
               ng-model="product.price"
            />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_durationType">Duration Type</label>
        <select class="form-control" name="durationType" ng-model="product.durationType" id="field_durationType">
            <option value="Monthly">Monthly</option>
            <option value="Yearly">Yearly</option>
            <option value="Permanently">Permanently</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_isFurtherDevelopment">FurthervDevelopment</label>
        <input type="number" class="form-control" name="isFurtherDevelopment" id="field_isFurtherDevelopment"
               ng-model="product.isFurtherDevelopment"
            />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_liveUrl">Live Url</label>
        <input type="text" class="form-control" name="liveUrl" id="field_liveUrl"
               ng-model="product.liveUrl"
            />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_additionalLink">Additional Link</label>
        <input type="text" class="form-control" name="additionalLink" id="field_additionalLink"
               ng-model="product.additionalLink"
            />
    </div>
    <div class="form-group col-md-6">
        <label class="control-label" for="field_isAvailable">Availability</label>
        <input type="number" class="form-control" name="isAvailable" id="field_isAvailable"
               ng-model="product.isAvailable"
            />
    </div>
    <!--<div class="form-group col-md-6">-->
    <!--<label class="control-label" for="field_createdDate">CreatedDate</label>-->
    <!--<input type="date" class="form-control" name="createdDate" id="field_createdDate"-->
    <!--ng-model="product.createdDate"-->
    <!--/>-->
    <!--</div>-->
    <!--<div class="form-group col-md-6">-->
    <!--<label class="control-label" for="field_updatedDate">UpdatedDate</label>-->
    <!--<input type="date" class="form-control" name="updatedDate" id="field_updatedDate"-->
    <!--ng-model="product.updatedDate"-->
    <!--/>-->
    <!--</div>-->
    <!--<div class="form-group col-md-6">-->
    <!--<label class="control-label" for="field_createBy">CreateBy</label>-->
    <!--<input type="text" class="form-control" name="createBy" id="field_createBy"-->
    <!--ng-model="product.createBy"-->
    <!--/>-->
    <!--</div>-->
    <!--<div class="form-group col-md-6">-->
    <!--<label class="control-label" for="field_updatedBy">UpdatedBy</label>-->
    <!--<input type="text" class="form-control" name="updatedBy" id="field_updatedBy"-->
    <!--ng-model="product.updatedBy"-->
    <!--/>-->
    <!--</div>-->
    <div class="form-group col-md-6">
        <label class="control-label" for="field_isActive">IsActive</label>
        <input type="number" class="form-control" name="isActive" id="field_isActive"
               ng-model="product.isActive"
            />
    </div>

    <div class="form-group col-md-6">
        <label for="field_companyInformation">Select Comapny</label>
        <select class="form-control" id="field_companyInformation" name="companyInformation" ng-model="product.companyInformation" ng-options="companyInformation as companyInformation.companyName for companyInformation in companyinformations track by companyInformation.id">
            <option value=""></option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label for="field_serviceCategory">Select Service Category</label>
        <select class="form-control" id="field_serviceCategory" name="serviceCategory" ng-model="product.serviceCategory" ng-options="serviceCategory as serviceCategory.serviceName for serviceCategory in servicecategorys track by serviceCategory.id">
            <option value=""></option>
        </select>
    </div>

</div><!--end add form div-->
<div class="col-sm-2"></div>
</div>
