<div class="row">
    <div class=" col-md-2">
        <h4><a href="">{{product.companyInformation.companyName}}</a></h4>
        <span><img ng-if="tempCompany.logo" width="80px" height="80px"
                    data-ng-src="{{'data:' + tempCompany.logoContentType + ';base64,' + tempCompany.logo}}"
                    style="max-height: 100px;" ng-if="tempCompany.logo"/></span>
        <span><img src="/assets/images/success.png" height="80px" width="80px"></span>
        <ul>
            <li>Live Url <a href="{{product.liveUrl}}">Click Here</a></li>
            <li>Software Price: <span>{{product.price}} {{product.currency}}</span></li>
            <li>Duration Type: <span>{{product.durationType}}</span></li>
            <li>Available: <span>{{product.isAvailable}}</span></li>
        </ul>
    </div>
    <div class="col-md-8">
        <table>
            <tr>
                <th>Images</th>
                <td>
                    <ul ng-repeat="img in images">
                        <li>
                            <img width="200px" height="200px"
                                 data-ng-src="{{'data:' + img.imageContentType + ';base64,' + img.image}}"
                                 style="max-height: 100px;" ng-if="img.image"/>
                        </li>
                    </ul>
                </td>
            </tr><tr>
                <thead>
                <th>Software Title</th>
                </thead>
                <tbody>
                <td>{{product.productTitle}}</td>
                </tbody>
            </tr>
            <tr>
                <thead>
                <th>Software Type</th>
                </thead>
                <tbody>
                <td>{{product.productType}}</td>
                </tbody>
            </tr>
            <tr>
                <thead>
                <th>Description</th>
                </thead>
                <tbody>
                <td>{{product.productDescription}}</td>
                </tbody>
            </tr>


        </table>
    </div>
    <div class="2">

    </div>
</div>




<!--<div>-->
    <!--<h2><span>Product</span> {{product.id}}</h2>-->
    <!--<div class="table-responsive">-->
        <!--<table class="table table-striped">-->
            <!--<thead>-->
            <!--<tr>-->
                <!--<th>Field</th>-->
                <!--<th>Value</th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>ProductTitle</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.productTitle}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>ProductDescription</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.productDescription}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>ProductType</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static" translate="{{'appstoreApp.ProductType.' + product.productType}}">{{product.productType}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>Currency</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="form-control-static" translate="{{'appstoreApp.CurrencyType.' + product.Currency}}">{{product.currency}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>Price</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.price}}</span> <span class="form-control-static" translate="{{'appstoreApp.CurrencyType.' + product.Currency}}">{{product.currency}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>DurationType</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static" translate="{{'appstoreApp.DurationType.' + product.durationType}}">{{product.durationType}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>IsFurtherDevelopment</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.isFurtherDevelopment}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>LiveUrl</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.liveUrl}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>AdditionalLink</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.additionalLink}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>IsAvailable</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.isAvailable}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>CreatedDate</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="form-control-static">{{product.createdDate | date:'mediumDate'}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>UpdatedDate</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="form-control-static">{{product.updatedDate | date:'mediumDate'}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>CreateBy</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="form-control-static">{{product.createBy}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<tr>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span>UpdatedBy</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="form-control-static">{{product.updatedBy}}</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</td>&ndash;&gt;-->
            <!--&lt;!&ndash;</tr>&ndash;&gt;-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>IsActive</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<span class="form-control-static">{{product.isActive}}</span>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>companyInformation</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a class="form-control-static" ui-sref="companyInformation.detail({id:product.companyInformation.id})">{{product.companyInformation.companyName}}</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<span>serviceCategory</span>-->
                <!--</td>-->
                <!--<td>-->
                    <!--<a class="form-control-static" ui-sref="serviceCategory.detail({id:product.serviceCategory.id})">{{product.serviceCategory.serviceName}}</a>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->

    <!--<button type="submit"-->
            <!--onclick="window.history.back()"-->
            <!--class="btn btn-info">-->
        <!--<span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>-->
    <!--</button>-->
<!--</div>-->
