<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
        </div>
    </div>
    <!-- FIRST BLOCK -->
    <!-- FEATURES -->
    <div id="features">
        <div class="line">
            <div class="margin"><br>
                <div class="col-sm-2 col-md-2">
                </div>
                <div id="app-view" class="col-sm-8 col-md-8">
                   <div >
                        <h2>{{product.companyInformation.companyName}}</h2>
                        <h2>{{images.logoContentType}}</h2>
                       <div class="col-md-6">
                           <img width="100px" height="100px"
                                data-ng-src="{{'data:' + images.imageContentType + ';base64,' + images.image}}"
                                style="max-height: 400px;" ng-if="images.image"/>
                       </div>
                       <div class="col-md-6">
                           <div class="form-group">
                               <label>{{product.productTitle}}</label>
                           </div>
                           <div class="form-group">
                               <label>App Type:</label> <span>{{product.productType}}</span>
                           </div>

                           <div class="form-group">
                               <label>Duration Type:</label> <span>{{product.durationType}}</span>
                           </div>
                           <div class="form-group">
                              <label>Available:</label> <span>{{product.isActive}}</span>
                           </div>
                           <div class="form-group">
                               <label>Website:</label><a style="color:blue;" ng-if="product.liveUrl" href="{{product.liveUrl}}"> Click Here</a>
                           </div>
                           <div class="form-group">
                              <label>Price:</label> <span>{{product.price}} {{product.currency}}</span>
                           </div>
                       </div>
                       <div class="col-md-12">
                           <p style="padding:5px;text-align:justify;">{{product.productDescription}}</p>
                       </div>
                   </div>

                </div>
                <div class="col-sm-2 col-md-2">
                </div>

            </div>
        </div>
    </div>
    <!-- CONTACT -->
</section>
