<div class="row">
    <div class=" col-md-2">
        <h4><a href="">{{product.companyInformation.companyName}}</a></h4>
        <span><img ng-if="tempCompany.logo" width="80px" height="80px"
                    data-ng-src="{{'data:' + tempCompany.logoContentType + ';base64,' + tempCompany.logo}}"
                    style="max-height: 100px;" ng-if="tempCompany.logo"/></span>
        <span><img src="/assets/images/success.png" height="80px" width="80px"></span>
        <ul>
            <li>Live Url <a href="{{product.liveUrl}}">Click Here</a></li>
            <li>Software Price: <span>{{product.price}} {{product.currency}}</span></li>
            <li>Duration Type: <span>{{product.durationType}}</span></li>
            <li>Available: <span>{{product.isAvailable}}</span></li>
        </ul>
    </div>
    <div class="col-md-8">
        <table>
            <tr>
                <th>Images</th>
                <td>
                    <ul ng-repeat="img in images">
                        <li>
                            <img width="200px" height="200px"
                                 data-ng-src="{{'data:' + img.imageContentType + ';base64,' + img.image}}"
                                 style="max-height: 100px;" ng-if="img.image"/>
                        </li>
                    </ul>
                </td>
            </tr><tr>
                <thead>
                <th>Software Title</th>
                </thead>
                <tbody>
                <td>{{product.productTitle}}</td>
                </tbody>
            </tr>
            <tr>
                <thead>
                <th>Software Type</th>
                </thead>
                <tbody>
                <td>{{product.productType}}</td>
                </tbody>
            </tr>
            <tr>
                <thead>
                <th>Description</th>
                </thead>
                <tbody>
                <td>{{product.productDescription}}</td>
                </tbody>
            </tr>


        </table>
    </div>
    <div class="2">

    </div>
</div>


<button class="btn btn-info" ng-click="action()"> click</button>
