<div>

    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!--<button class="btn btn-primary" ui-sref="tempCompany.new">-->
                    <!--<span class="glyphicon glyphicon-flash"></span> <span>Create a new TempCompany</span>-->
                <!--</button>-->
                <h4>Temporary Company List</h4>
            </div>

            <div class="col-md-4">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="Company Name..">
                    </div>
                    <!--<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a TempCompany</span>-->
                    <!--</button>-->
                </form>
            </div>
            <div class="col-md-4">
                <!--<button class="btn btn-primary" ui-sref="tempCompany.new">-->
                <!--<span class="glyphicon glyphicon-flash"></span> <span>Create a new TempCompany</span>-->
                <!--</button>-->
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th>SN</th>
                    <!--<th jh-sort-by="username"><span>Username</span> </span></th>-->
                    <th><span>Logo</span> </span></th>
                    <th jh-sort-by="email"><span>Email</span> </span></th>
                    <!--<th jh-sort-by="password"><span>Password</span> </span></th>-->
                    <th jh-sort-by="branchName"><span>Branch Name</span> </span></th>
                    <!--<th jh-sort-by="BranchType"><span>Branch Type</span> </span></th>-->
                    <th jh-sort-by="companyName"><span>Company Name</span> </span></th>
                    <th jh-sort-by="shortName"><span>Short Name</span> </span></th>
                    <!--<th jh-sort-by="companyInformation"><span>CompanyInformation</span> </span></th>-->
                    <!--<th jh-sort-by="businessDescription"><span>BusinessDescription</span> </span></th>-->
                    <!--<th jh-sort-by="facebook"><span>Facebook</span> </span></th>-->
                    <!--<th jh-sort-by="googlePlus"><span>GooglePlus</span> </span></th>-->
                    <!--<th jh-sort-by="youtube"><span>Youtube</span> </span></th>-->
                    <!--<th jh-sort-by="linkedin"><span>Linkedin</span> </span></th>-->
                    <!--<th jh-sort-by="twitter"><span>Twitter</span> </span></th>-->
                    <!--<th jh-sort-by="website"><span>Website</span> </span></th>-->
                    <!--<th jh-sort-by="city"><span>City</span> </span></th>-->
                    <!--<th jh-sort-by="shortDescription"><span>ShortDescription</span> </span></th>-->
                    <!--<th jh-sort-by="logo"><span>Logo</span> </span></th>-->
                    <!--<th jh-sort-by="companyType"><span>Company Type</span> </span></th>-->
                    <!--<th jh-sort-by="addressType"><span>Address Type</span> </span></th>-->
                    <th jh-sort-by="officePhone"><span>Office Phone</span> </span></th>
                    <!--<th jh-sort-by="contactNumber"><span>Contact Number</span> </span></th>-->
                    <!--<th jh-sort-by="postalCode"><span>PostalCode</span> </span></th>-->
                    <!--<th jh-sort-by="house"><span>House</span> </span></th>-->
                    <!--<th jh-sort-by="RoadNo"><span>RoadNo</span> </span></th>-->
                    <!--<th jh-sort-by="CreatedDate"><span>CreatedDate</span> </span></th>-->
                    <!--<th jh-sort-by="updatedDate"><span>UpdatedDate</span> </span></th>-->
                    <!--<th jh-sort-by="createBy"><span>CreateBy</span> </span></th>-->
                    <!--<th jh-sort-by="updatedBy"><span>UpdatedBy</span> </span></th>-->
                    <!--<th jh-sort-by="activeStatus"><span>ActiveStatus</span> </span></th>-->
                    <th jh-sort-by="country.countryName"><span>Country</span> </span></th>
                    <th jh-sort-by="serviceCategory.serviceName"><span>Service Category</span> </span></th>
                    <!--<th jh-sort-by="upazila.upazilaName"><span>upazila</span> </span></th>-->
                    <th>CRUD</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tempCompany in tempCompanys |filter:{companyName:searchQuery} track by tempCompany.id">
                    <td>{{$index+1}}</td>
                    <!--<td>{{tempCompany.username}}</td>-->
                    <td><img width="50px" height="50px"
                             data-ng-src="{{'data:' + tempCompany.logoContentType + ';base64,' + tempCompany.logo}}"
                             style="max-height: 100px;" ng-if="tempCompany.logo"/></td>
                    <td>{{tempCompany.email}}</td>
                    <!--<td>{{tempCompany.password}}</td>-->
                    <td>{{tempCompany.branchName}}</td>
                    <!--<td>{{tempCompany.BranchType}}</td>-->
                    <td>{{tempCompany.companyName}}</td>
                    <td>{{tempCompany.shortName}}</td>
                    <!--<td>{{tempCompany.companyInformation}}</td>-->
                    <!--<td>{{tempCompany.businessDescription}}</td>-->
                    <!--<td>{{tempCompany.facebook}}</td>-->
                    <!--<td>{{tempCompany.googlePlus}}</td>-->
                    <!--<td>{{tempCompany.youtube}}</td>-->
                    <!--<td>{{tempCompany.linkedin}}</td>-->
                    <!--<td>{{tempCompany.twitter}}</td>-->
                    <!--<td>{{tempCompany.website}}</td>-->
                    <!--<td>{{tempCompany.city}}</td>-->
                    <!--<td>{{tempCompany.shortDescription}}</td>-->
                    <!--<td>{{tempCompany.logo}}</td>-->
                    <!--<td translate="{{'appstoreApp.CompanyType.' + tempCompany.companyType}}">{{tempCompany.companyType}}</td>-->
                    <!--<td translate="{{'appstoreApp.AddressType.' + tempCompany.addressType}}">{{tempCompany.addressType}}</td>-->
                    <td>{{tempCompany.officePhone}}</td>
                    <!--<td>{{tempCompany.contactNumber}}</td>-->
                    <!--<td>{{tempCompany.postalCode}}</td>-->
                    <!--<td>{{tempCompany.house}}</td>-->
                    <!--<td>{{tempCompany.RoadNo}}</td>-->
                        <!--<td>{{tempCompany.CreatedDate | date:'mediumDate'}}</td>-->
                        <!--<td>{{tempCompany.updatedDate | date:'mediumDate'}}</td>-->
                    <!--<td>{{tempCompany.createBy}}</td>-->
                    <!--<td>{{tempCompany.updatedBy}}</td>-->
                    <!--<td>{{tempCompany.activeStatus}}</td>-->
                    <td>
                        <a ui-sref="country.detail({id:tempCompany.country.id})">{{tempCompany.country.countryName}}</a>
                    </td>
                    <td>
                        <a ui-sref="serviceCategory.detail({id:tempCompany.serviceCategory.id})">{{tempCompany.serviceCategory.serviceName}}</a>
                    </td>
                    <!--<td>-->
                        <!--<a ui-sref="upazila.detail({id:tempCompany.upazila.id})">{{tempCompany.upazila.upazilaName}}</a>-->
                    <!--</td>-->
                    <td>
                        <button type="submit"
                                ui-sref="tempCompany.detail({id:tempCompany.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <!--&nbsp;<span> View</span>-->
                        </button>
                        <button type="submit"
                                ui-sref="tempCompany.edit({id:tempCompany.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <!--&nbsp;<span> Edit</span>-->
                        </button>
                        <button type="submit"
                                ui-sref="tempCompany.delete({id:tempCompany.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle">
                                <!-- -->
                            <!--</span>&nbsp;<span> Delete</span>-->
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <!--<uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>-->
    </div>
</div>
