*{
margin:0;
padding:0;
}

h1,h2,h3,h4,h5{
padding:0;
}

#footer ul li a{
color:white;
}

#query_view{
    max-height:auto;
    min-height:300px;
    width:100%;
    background-color:#FAEDE9;
    border-radius:5px;
}
#query_view,#side-var ul li{
    margin:0;
    padding:0;
    display:block;
}

#product_desc{
    margin-top:5px;
    height:auto;
    padding:10px;
    background:#B2BABB;
    border-radius:10px;
}

#contact,#about,#social{
color:white;
}
hr{
margin:0;
padding:0;}
$social a:hover{
color:white;
text-decoration:none;
}
#query_view li,#contact li,#about li,#social li{
display:block;}
#contact li a:hover,#about li a:hover,#social li a:hover{
color:white;}

.side-var li{
 padding:0;
 margin:0;
 display:inline;
 padding-top:8px;
}
.side-var li a:hover{
    text-decoration:none;

}


@media (max-width:768px) {
.side-var{display:none;}

}
@media (min-width:768px) {
.drop-var{
    display:none;
}

}


















.no-padding{
    padding: 0px;
}

#footer{
    width:100%;
    max-height:800px;
    min-height:180px;
    position:absolute bottom;
    bottom:0;
    left:0;
    background:	#3E2E2A;
}
