*{
margin:0;
padding:0;
}
h4,h5{
padding:0;
color:white;
}

#query_view{
    max-height:auto;
    min-height:1000px;
    width:100%;
    background-color:#FFE4B5;
    border-radius:5px;
}

#contact{
color:white;}
$social a:hover{
color:white;
text-decoration:none;

}
#footer{
    width:100%;
    max-height:800px;
    min-height:180px;
    position:absolute bottom;
    bottom:0;
    left:0;
    background:	#3E2E2A;
}
