<div>
    <h2>Upazilas</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="upazila.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Upazila</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Upazila</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="upazilaName"><span>UpazilaName</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span>Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="isActive"><span>IsActive</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="district.districtName"><span>district</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="upazila in upazilas track by upazila.id">
                    <td><a ui-sref="upazila.detail({id:upazila.id})">{{upazila.id}}</a></td>
                    <td>{{upazila.upazilaName}}</td>
                    <td>{{upazila.comments}}</td>
                    <td>{{upazila.isActive}}</td>
                    <td>
                        <a ui-sref="district.detail({id:upazila.district.id})">{{upazila.district.districtName}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="upazila.detail({id:upazila.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="upazila.edit({id:upazila.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="upazila.delete({id:upazila.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>
    </div>
</div>
