<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
        </div>
    </div>
    <!-- FIRST BLOCK -->
    <!-- FEATURES -->
    <div id="features">
        <div class="line">
            <div class="margin"><br>

                <div class="col-sm-3 col-md-3">
                    <ng-include src="'scripts/app/publisher/left-menu.html'"></ng-include>
                </div>
                <div class="col-sm-9 col-md-9">
                    <table class="table table-striped">
                        <thead>
                        <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                            <!--<th>SN</th>-->
                            <!--<th jh-sort-by="username"><span>Username</span> </span></th>-->
                            <th><span>Logo</span> </span></th>
                            <th jh-sort-by="companyName"><span>Company Name</span> </span></th>
                            <th jh-sort-by="email"><span>Email</span> </span></th>
                            <th jh-sort-by="country.countryName"><span>Country</span> </span></th>
                            <th jh-sort-by="serviceCategory.serviceName"><span>Service Category</span> </span></th>
                            <!--<th jh-sort-by="upazila.upazilaName"><span>upazila</span> </span></th>-->

                            <th>Status</th>
                            <th>CRUD</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="publisher in publishers |filter:{companyName:searchQuery} track by tempCompany.id">
                            <!--<td>{{$index+1}}</td>-->
                            <!--<td>{{tempCompany.username}}</td>-->
                            <td><img  width="5px" height="40px"
                                     data-ng-src="{{'data:' + publisher.logoContentType + ';base64,' + publisher.logo}}"
                                     style="max-height: 20px; border-radius: 5px;" ng-if="publisher.logo"/></td>
                            <td>{{publisher.companyName}}</td>
                            <td>{{publisher.email}}</td>
                            <td>
                                <a>{{publisher.country.countryName}}</a>
                            </td>
                            <td>
                                <a >{{publisher.serviceCategory.serviceName}}</a>
                            </td>
                            <td>
                                <button ng-show="publisher.activeStatus==0 || publisher.activeStatus==null"
                                        ng-click="approve(publisher.id)"
                                        ng-if="publisher.activeStatus==0 || publisher.activeStatus==null"
                                        class="btn btn-info btn-xs" type="button">Approve
                                </button>
                                <button ng-click="ban(publisher.id)" ng-if="publisher.activeStatus==1"
                                        class="btn btn-success btn-xs" type="button">Ban
                                </button>
                                <button ng-if="publisher.activeStatus==2" class="btn btn-danger btn-xs" type="button">
                                    Rejected
                                </button>
                            </td>
                            <td>
                                <button type="submit"
                                        ui-sref="tempCompany.detail({id:publisher.id})"
                                        class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                    <!--&nbsp;<span> View</span>-->
                                </button>
                                <button ng-show="false" type="submit"
                                        ui-sref="publisher.delete({id:publisher.id})"
                                        class="btn btn-danger btn-xs">
                            <!--<span class="glyphicon glyphicon-remove-circle">-->
                                <!-- -->
                            <!--</span>&nbsp;<span> Delete</span>-->
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <!-- CONTACT -->
</section>
