<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
        </div>
    </div>
    <!-- FIRST BLOCK -->
    <!-- FEATURES -->
    <div id="features">
        <div class="line">
            <div class="margin"><br>
                <div class="col-sm-3 col-md-3">
                    <ng-include src="'scripts/app/publisher/left-menu.html'"></ng-include>
                </div>
                <div class="col-sm-9 col-md-9">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>App Title</th>
                            <th>App Type</th>
                            <th>Price</th>
                            <th>Payment Type</th>
                            <th>Viewed</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="app in apps">
                            {{app}}
                            <td>{{app.productTitle}}</td>
                            <td>{{app.productType}}</td>
                            <td>{{app.price}} {{app.currency}}</td>
                            <td>{{app.durationType}}</td>
                            <td>{{app.view}}</td>
                            <!--<td>{{app.isActive}}</td>-->
                            <td><span ng-if="app.isActive=1">Active</span><span ng-if="app.isActive=0">In-Active</span></td>
                            <td>
                                <button type="submit" data-toggle="modal" data-target="#myModal" ng-click="app_view(app.id)"
                                        class="btn btn-info btn-xs">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </button>
                                <button type="submit"
                                        ui-sref="publisher.app-edit({id:app.id})"
                                        class="btn btn-primary btn-xs">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="submit"
                                        data-toggle="modal" ng-click="app_img(app.id)" data-target="#addImage"
                                        class="btn btn-success btn-xs">
                                    <span class="glyphicon glyphicon-picture"></span>
                                </button>
                                <button ng-show="false" type="submit"
                                        ui-sref="division.delete({id:division.id})"
                                        class="btn btn-danger btn-sm">
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                            </td>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-sm-12 col-md-12" id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- CONTACT -->
</section>
<ng-include src="'scripts/app/publisher/app-preview.html'"></ng-include>

<!--====================================================== -->


<div class="modal fade" id="addImage" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">{{product.productTitle}}</h4>
            </div>
            <div ><!--body-->
                <!--<div>-->
                    <!--<input type="file" class="btn btn-success btn-sm" >-->
                <!--</div>-->
                <div class="form-group col-md-12" ngf-drop ngf-change="setImage($file, photo)">
                    <div>
                        <div >
                        <!--<div class="help-block">-->
                        <!--<div class="help-block clearfix">-->
                            <button ng-click="photo.image=null;photo.imageContentType=null;"
                                    ng-if="photo.image"
                                    class="btn btn-default btn-xs pull-right">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                        <input type="file" ngf-select class="btn btn-success"
                                ngf-change="setImage($file, photo)" >
                    </div>
                    <input type="hidden" class="form-control" name="image" id="field_image"
                           ng-model="photo.image"
                        />
                    <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                           ng-model="photo.imageContentType" />
                    <img
                        data-ng-src="{{'data:' + photo.imageContentType + ';base64,' + photo.image}}"
                        style="max-height: 50px;" ng-if="photo.image"/>

                    <span class="pull-left">{{photo.imageContentType}} {{byteSize(photo.image)}}</span>
                </div>

            </div><!--modal body-->
            <div class="modal-footer">
            <button type="button" class="btn btn-success" ng-click="add_all_image()" >Update</button>
            </div>
        </div>

    </div>
</div>
