<div>

    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!--<button class="btn btn-primary" ui-sref="comAddress.new">-->
                    <!--<span class="glyphicon glyphicon-flash"></span> <span></span>-->
                <!--</button>-->
            </div>
            <div class="col-md-4">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="Company  name..">
                    </div>
                    <!--<button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Company name</span>-->
                    <!--</button>-->
                </form>
            </div>
            <div class="col-md-4">
                <h3>Add List</h3>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr jh-sort="predicate" ascending="reverse" callback="loadAll()">
                    <th jh-sort-by="id"><span>ID</span> </th>
                    <th jh-sort-by="addressType"><span>Address Type</span> </th>
                    <th jh-sort-by="officePhone"><span>Office Phone</span> </th>
                    <th jh-sort-by="contactNumber"><span>Contact Number</span> </th>
                    <th jh-sort-by="postalCode"><span>Postal Code</span> </th>
                    <th jh-sort-by="house"><span>House</span> </th>
                    <th jh-sort-by="RoadNo"><span>Road No</span> </th>
                    <th jh-sort-by="city"><span>City</span> </th>
                    <!--<th jh-sort-by="CreatedDate"><span>CreatedDate</span> </th>-->
                    <!--<th jh-sort-by="updatedDate"><span>UpdatedDate</span> </th>-->
                    <!--<th jh-sort-by="createBy"><span>CreateBy</span> </th>-->
                    <!--<th jh-sort-by="updatedBy"><span>UpdatedBy</span> </th>-->
                    <!--<th jh-sort-by="isActive"><span>IsActive</span> </th>-->
                    <th jh-sort-by="comBranch.branchName"><span>Branch</span> </th>
                    <th jh-sort-by="upazila.upazila_name"><span>upazila</span> </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comAddress in comAddresss track by comAddress.id">
                    <td><a ui-sref="comAddress.detail({id:comAddress.id})">{{comAddress.id}}</a></td>
                    <td translate="{{'appstoreApp.AddressType.' + comAddress.addressType}}">{{comAddress.addressType}}</td>
                    <td>{{comAddress.officePhone}}</td>
                    <td>{{comAddress.contactNumber}}</td>
                    <td>{{comAddress.postalCode}}</td>
                    <td>{{comAddress.house}}</td>
                    <td>{{comAddress.roadNo}}</td>
                    <td>{{comAddress.city}}</td>
                        <!--<td>{{comAddress.CreatedDate | date:'mediumDate'}}</td>-->
                        <!--<td>{{comAddress.updatedDate | date:'mediumDate'}}</td>-->
                    <!--<td>{{comAddress.createBy}}</td>-->
                    <!--<td>{{comAddress.updatedBy}}</td>-->
                    <!--<td>{{comAddress.isActive}}</td>-->
                    <td>
                        <a ui-sref="comBranch.detail({id:comAddress.comBranch.id})">{{comAddress.comBranch.branchName}}</a>
                    </td>
                    <td>
                        <a ui-sref="upazila.detail({id:comAddress.upazila.id})">{{comAddress.upazila.upazila_name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="comAddress.detail({id:comAddress.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;
                            <!--<span> View</span>-->
                        </button>
                        <button type="submit"
                                ui-sref="comAddress.edit({id:comAddress.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;
                            <!--<span> Edit</span>-->
                        </button>
                        <button type="submit"
                                ui-sref="comAddress.delete({id:comAddress.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;
                            <!--<span> Delete</span>-->
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--<div class="text-center">-->
        <!--<uib-pagination class="pagination-sm" total-items="totalItems" ng-model="page" ng-change="loadAll()"></uib-pagination>-->
    <!--</div>-->
</div>
